version: "3.9"

services:
  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile-laravel
    container_name: gateway
    ports:
      - "8000:8000"
    env_file:
      - ./gateway/.env
    depends_on:
      - auth
      - servicios
      - reservas
      - auditoria
      - reportes
      - notificaciones

  auth:
    build:
      context: ./auth
      dockerfile: Dockerfile-laravel
    container_name: auth
    ports:
      - "8001:8001"
    env_file:
      - ./auth/.env

  servicios:
    build:
      context: ./servicios
      dockerfile: Dockerfile-django
    container_name: servicios
    ports:
      - "8002:8002"
    env_file:
      - ./servicios/.env

  reservas:
    build:
      context: ./reservas
      dockerfile: Dockerfile-flask
    container_name: reservas
    ports:
      - "5001:5001"
    env_file:
      - ./reservas/.env
    command: ["app.py"]

  auditoria:
    build:
      context: ./auditoria
      dockerfile: Dockerfile-flask
    container_name: auditoria
    ports:
      - "5003:5003"
    env_file:
      - ./auditoria/.env
    command: ["app.py"]

  reportes:
    build:
      context: ./reportes
      dockerfile: Dockerfile-flask
    container_name: reportes
    ports:
      - "5005:5005"
    env_file:
      - ./reportes/.env
    command: ["app.py"]

  notificaciones:
    build:
      context: ./notificaciones
      dockerfile: Dockerfile-flask
    container_name: notificaciones
    ports:
      - "5004:5004"
    env_file:
      - ./notificaciones/.env
    command: ["app.py"]

networks:
  default:
    driver: bridge
